<article {{ classes|stringify }}>

    lean into sink classes vs. component specific classes (keep this minimal)

    {% if image %}
        <div class="c-card__media">

            c-card__image c-image--16x9
            {% if image %}
                {{ component( 'image/Image.php', image ) }}
            {% endif %}

            c-card__icon
            {% if icon %}
                {{ component( 'image/Image.php', icon ) }}
            {% endif %}

        </div>
    {% endif %}

    <div class="c-card__body">

        {% if meta_primary or title or meta_secondary %}
            <header class="c-card__header c-card__section">

                c-card__meta c-card__meta--primary p
                {% if meta_primary %}
                    {{ component( 'text/Text.php', meta_primary ) }}
                {% endif %}

                c-card__title h5
                {% if title %}
                    {{ component( 'text/Text.php', title ) }}
                {% endif %}

                c-card__meta c-card__meta--secondary p
                {% if meta_secondary %}
                    {{ component( 'text/Text.php', meta_secondary ) }}
                {% endif %}

            </header>
        {% endif %}

        {% if text %}
            <div class="c-card__content c-card__section">

                c-card__text p
                {{ component( 'text/Text.php', text ) }}

            </div>
        {% endif %}

        {% if action %}
            <footer class="c-card__footer c-card__section">

                c-card__action c-btn
                {{ component( 'button/Button.php', action ) }}

            </footer>
        {% endif %}

    </div>

</article>
